.header {
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    position: fixed;
}

.header__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0, #2608ac, #250a9c);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 0 20px; 
    height: 60px;
    box-sizing: border-box;
    position: relative;
}

.header__navbar > .grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-logo-img {
    width: 56px;
    height: 56px;
    position: relative;
    cursor: pointer;
    top: 2px;
    border-radius: 2px;
}

.header__navbar-menu {
    margin: auto 20px;
    color: var(--white-color);
}

.header__navbar-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__navbar-item {
    list-style: none;
    padding: 12px 2px;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;  
    position: relative;
    margin: 0 14px;
}

.header__navbar-item:last-child {
    padding: 10px 16px;
    margin-right: 36px;
}

.header__navbar-icon {
    position: relative;
    top: 2px;
    font-size: 1.2rem;
    left: 1px;
}

.header__navbar-type {
    list-style: none;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding: 0;
    font-weight: 500;
    line-height: 1.6rem;
}

.header__navbar-motobike {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    width: 140px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 0 1px 1px #e9eded;
}
 
.header__navbar-item-motobike:hover .header__navbar-motobike {
    display: block;
}

.header__navbar-motobike::before {
    content: "";
    position: absolute;
    top: -18px;
    right: 41px;
    border-style: solid;
    border-width: 10px 12px;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
}

.header__navbar-motobike::after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    width: 70%;
    height: 16px;
}

.header__navbar-motobike h4 {
    padding: 10px 16px 4px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin: 0;
    color: var(--black-color);
}

.header__navbar-motobike-item {
    padding: 8px 16px;
}

.header__navbar-motobike-item:hover {
    background-color: var(--hover-primary-color);
}

.header__navbar-motobike-item:hover a{
    color: var(--white-color);
}

.header__navbar-motobike-item:hover:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-motobike-item a {
    text-decoration: none;
    display: block;
    color: var(--text-color);
}

.header__navbar-car {
    position: absolute;
    top: calc(100% + 4px);
    right: -22px;
    background-color: var(--white-color);
    width: 140px;
    box-shadow: 0 0 1px 1px #e9eded;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__navbar-item-car:hover .header__navbar-car {
    display: block;
}

.header__navbar-car::before {
    content: "";
    position: absolute;
    top: -18px;
    right: 48px;
    border-style: solid;
    border-width: 10px 12px;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
}

.header__navbar-car::after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    width: 70%;
    height: 16px;
}

.header__navbar-car h4 {
    padding: 10px 16px 4px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    margin: 0;
    color: var(--black-color);
}

.header__navbar-car-item {
    padding: 8px 16px;
}

.header__navbar-car-item:hover {
    background-color: var(--hover-primary-color);
}

.header__navbar-car-item:hover a{
    color: var(--white-color);
}

.header__navbar-car-item:hover:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-car-item a {
    text-decoration: none;
    display: block;
    color: var(--text-color);
    text-decoration: none;
}

.header__navbar-price-list {
    position: absolute;
    top: calc(100% + 4px);
    right: -22px;
    background-color: var(--white-color);
    width: 146px;
    box-shadow: 0 0 1px 1px #e9eded;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    padding: 0;
}

.header__navbar-price:hover .header__navbar-price-list {
    display: block;
}

.header__navbar-price-item {
    list-style: none;
    padding: 12px 14px;
}

.header__navbar-price-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-price-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-price-item:hover {
    background-color: var(--hover-primary-color);
}

.header__navbar-price-item:hover a{
    color: var(--white-color);
}

.header__navbar-price-item a {
    text-decoration: none;
    color: var(--black-color);
}

.header__navbar-price-list::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 56px;
    border-style: solid;
    border-width: 8px 10px;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
}

.header__navbar-price-list::after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    width: 90%;
    height: 16px;
}

.header__navbar-agency {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__navbar-promotion {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__navbar-service-list {
    position: absolute;
    top: calc(100% + 4px);
    right: -32px;
    background-color: var(--white-color);
    width: 160px;
    padding: 0;
    box-shadow: 0 0 1px 1px #e9eded;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.4s;
}

.header__navbar-service:hover .header__navbar-service-list {
    display: block;
}

.header__navbar-service-list::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 62px;
    border-width: 8px 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-service-list::after {
    content: "";
    position: absolute;
    top: -14px;
    left: 24px;
    height: 20px;
    width: 100px;
}

.service-item {
    list-style: none;
    padding: 12px 12px;
    line-height: 1.6rem;
}

.service-item:hover:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.service-item:hover:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.service-item:hover {
    background-color: var(--hover-primary-color);
}

.service-item:hover a {
    color: var(--white-color);
}

.service-item a{
    text-decoration: none;
    color: var(--text-color);
}

.header__navbar-seach {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    margin-top: 4px;
    padding: 0 6px;
    cursor: pointer;
    position: relative;
}

.search-icon {
    cursor: pointer;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.search-box {
    position: absolute;
    top: 6px;
    right: 0;
    background-color: var(--white-color);
    box-sizing: border-box;
    z-index: 2;
    height: 20px;
    border-radius: 4px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

#searchInput {  
    width: 220px;
    line-height: 2rem;
    border: none;
    border-radius: 4px;
    padding: 4px 30px 4px 6px;
    outline: none;
}

.header__navbar-seach--active .search-box{
    transform: translateX(0);
    opacity: 1;
}

.search-close-icon {
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 5px;
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--black-color);
    padding: 0 6px 0 8px;
}

/* Container */
.container__background {
    display: flex;
    height: 600px;
    box-shadow: 0 1px 1px #e9eded;
}

.main-background {
    /* width: 50px; */
    flex: 1;
    border-right: 1px solid var(--white-color);
    position: relative;
}

.main-background span {
    position: absolute;
    color: var(--white-color);
    font-size: 4.6rem;
    font-weight: 600;
    top: 90%;
    left: 6%;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.main-background a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.support-background {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.first-background {
    flex: 1;
    border-bottom: 1px solid var(--white-color);
}

.first-background .line1 {
    position: absolute;
    color: var(--white-color);
    font-size: 4.8rem;
    font-weight: 500;
    top: 6%;
    left: 4%;
    line-height: 4.2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.first-background .line2 {
    position: absolute;
    color: var(--white-color);
    font-size: 4.8rem;
    font-weight: 500;
    top: 14%;
    left: 11%;
    line-height: 4.2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.second-background {
    flex: 1;
    position: relative;
}

.second-background .line1 {
    position: absolute;
    color: var(--white-color);
    font-size: 4.8rem;
    font-weight: 500;
    top: 6%;
    left: 4%;
    line-height: 4.2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.second-background .line2 {
    position: absolute;
    color: var(--white-color);
    font-size: 4.8rem;
    font-weight: 500;
    top: 23%;
    left: 14%;
    line-height: 4.2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.first-background a,
.second-background a{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.container__heading {
    padding: 70px 0 10px;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 700;
}

.container__vehicle {
    margin-bottom: 100px !important;
}

.vehicle-list__type {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.vehicle-list__type::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    height: 1.6px; 
    background-color: #ccc; 
    z-index: 0; 
}

.vehicle-list__item {
    padding: 20px 10px;
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
}

.vehicle-list__item.vehicle-list__item--active {
    color: var(--primary-color);    
}

.slider {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: var(--primary-color);
    z-index: 1;
    transition: transform 0.3s ease , width 0.3s ease;
    left: 0;
}

.vehicle-item {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.vehicle-img {
    padding-top: 65%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.vehicle-img:hover {
    transform: scale(1.1);
}

.vehicle-name {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 16px 12px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.vehicle-price {
    font-size: 1.8rem;
    font-size: 500;
    color: var(--text-color);
    padding: 8px 12px;
}

.container__section {
    margin-bottom: 80px;
}

.container__section h3 {
    padding: 16px;
    font-size: 3rem;
    margin: 16px auto;
    text-align: center;
    line-height: 3rem;
}

.container__section-item {
    cursor: pointer;
    text-decoration: none;
}

.container__section-item-img {
    padding-top: 65%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-radius: 3px;
}

.container__section-item-name {
    font-size: 2.2rem;
    color: var(--black-color);
}

.container__section-item-description {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: calc(3 * 2.4rem);
}

.container__section-item-link {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}

.container__section-item-link::before {
    content: "";
    position: absolute;
    border: 1px solid #ccc;
    bottom: 0;
    left: 0;
    width:86%;
    padding: 0 16px;
}

.container__section-item-link::after {
    content: "";
    position: absolute;
    border: 1px solid var(--primary-color);
    bottom: 0;
    right: 10px;
    width: 8%;
}

.container__section-item-link:hover::before{
    content: "";
    position: absolute;
    border: 1px solid var(--primary-color);
    bottom: 0;
    left: 0;
    width: 86%;
    padding: 0 16px;
}

.container__section-item-link:hover .container__section-item-icon {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.container__section-item-link-info {
    color: var(--primary-color);
    font-size: 1.5rem;
    flex: 1;
}

.container__section-item-icon {
    color: var(--primary-color);
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

/* Container__service */
.container__service-heading {
    font-size: 2.4rem;
    padding: 16px 12px;
    font-weight: 700;
    width: 250px;
    line-height: 1rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 3px;
    margin: 30px 0 20px;
    position: relative;
}

.container__service-heading::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid var(--primary-color);
    width: 1160px;
    bottom: 0;
}

.container__service-item {
    display: block;
    text-decoration: none;
}

.container__service-img {
    padding-top: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container__service-name {
    font-size: 1.8rem;
    margin: 20px 0;
    display: block;
    color: var(--black-color);
    font-weight: 600;
    margin-bottom: 100px;
}

.container__service-name:hover {
    color: var(--primary-color);
}

/*Footer*/
.footer {
    display: flex;
    max-width: 100%;
    min-height: 300px;
    align-items: stretch;
    background-color: var(--black-color);
    position: relative;
}

.footer::before {
    content: "Power by Ahqsoyum";
    position: absolute;
    color: var(--white-color);
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-decoration: underline;
}

.footer__contact{
    margin-left: 30%;
    flex: 1;
}

.footer__contact-heading {
    font-size: 3rem;
    margin: 20px 0;
    color: var(--white-color);
    padding-top: 20px;
}

.footer__contact-heading-description {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 20px 0 10px;
    color: var(--white-color);
}

.footer__contact-phone-mail {
    font-size: 1.4rem;
    margin: 10px 0;
    color: var(--white-color);
}

.footer__contact-phone {
    margin: 10px 0;
    color: var(--white-color);
}

.footer__contact-social {
    flex: 1;
    margin-right: 10%;
}

.footer__contact-social span {
    font-size: 3rem;
    margin: 20px 0;
    color: var(--white-color);
    padding-top: 20px;
    display: block;
    font-weight: 600;
}

.footer__contact-social-item {
    font-size: 2rem;
    padding: 2px;
    margin: 10px 0;
    color: var(--white-color);
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer__contact-social-icon-facebook {
    background-color: var(--primary-color);
    padding: 4px;
    border-radius: 12px;
    font-size: 1.8rem;
    margin-right: 6px;
}

.footer__contact-social-icon-instargram {
    background-image: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045);
    padding: 4px;
    border-radius: 12px;
    color: var(--white-color);
    font-size: 1.8rem;
    margin-right: 6px;
}

.footer__contact-social-icon-github {
    padding: 4px;
    border-radius: 12px;
    color: var(--white-color);
    background-color: #666;
    font-size: 1.8rem;
    margin-right: 6px;
}

/* go-to-header-icon */
.go-to-header {
    position: fixed;
    width: 34px;
    height: 34px;
    bottom: 8%;
    right: 4%;
    background-color: #d2cccc;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);    
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.go-to-header.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
}


.go-to-header:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.go-to-header-icon {
    font-size: 2rem;
    font-weight: 1000;
}

/* Modal */
.modal.modal-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-contact {
    background-color: var(--white-color);
    height: 360px;
    width: 660px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-contact-icon {
    font-size: 4rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 34px;
    padding: 10px;
}

.modal-contact-heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 40px 0;
    color: var(--primary-color);
}

.modal-contact-label {
    display: block;
    letter-spacing: 0.2px;
    font-size: 1.8rem;
    color: var(--text-color);
    width: 500px;
    text-align: center;
    line-height: 2.6rem;
}

.modal-contact-btn {
    margin-top: 40px;
    padding: 12px 50px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.modal-contact-btn:hover {
    background-color: #2d0eb7;
}


/* Advertisement */
.advertisement {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: fadeIn linear 0.1s;
    z-index: 20;
    display: none;
    justify-content: center;
}

.advertisement.advertisement--active {
    display: block;
}

.ad__overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.ad__body {
    --growth-form: 0.5;
    --growth-to: 1;
    margin: auto;
    position: relative; 
    z-index: 1;
    animation: growth linear 0.1s;
    background-color: rgb(0, 174, 255);
    max-height: 100vh;
    width: 50vw;
    z-index: 21;
    overflow-y: auto;
}

.ad__header {
    color: var(--white-color);
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3px;
    margin: 24px 0;
}

.ad__container {
    padding: 10px 0;
    margin: 0;
    background-color: var(--primary-color);
}

.ad__background-img {
    height: 360px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ad__form-input {
    margin-top: 24px;
}

.ad__grid {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.ad__row {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.ad__column-6 {
    padding: 0 16px;
    margin: 10px 0;
    width: 50%;
    flex: 1;
    box-sizing: border-box;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ccc;
}

#daily {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ccc;
}

#textarea {
    width: calc(96% + 4px);
    margin: 0 12px;
    /* padding: 0 6px;  */
    height: 77px;
    color: var(--text-color);
    font-size: 1.7rem;
    letter-spacing: 0.1px;
    line-height: 2.2rem;
    box-sizing: border-box;
} 

.ad__btn {
    margin-top: 12px;
    margin-left: 16px;
    height: 28px;
    width: 160px;
    font-size: 1.6rem;
    cursor: pointer;
}

.ad-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 10px;
    cursor: pointer;
}

.ad__send-successfull {
    display: block;
    color: var(--white-color);
    font-size: 1.6rem;
    margin: 12px 0 0 16px;
    display: none;
}

.ad__send-successfull.ad__send-successfull--active {
    display: block;
}

.header-menu-bars,
.header-close-icon {
    display: none;
}

.main-index {
    text-decoration: none;
    color: var(--black-color);
}

.header__navbar-menu-mobile {
    display: none;
}

.header__navbar-motobike-mobile,
.header__navbar-car-mobile,
.header__navbar-service-list-mobile {
    display: none;
} 

.header__navbar-service-list-mobile {
    font-size: 1.4rem;
    color: var(--text-color);
    width: 200px;   
    padding-left: 0;
    margin-top: 12px;
    font-weight: 500;
}

@media screen and (max-width: 47.9375em) {
    .header__navbar-logo {
        width: 80px;
        height: 90px;
        top: 15px;
        position: relative;
    }

    .header__navbar-menu {
        display: none;
    }

    .header-menu-bars {
        display: block;
        font-size: 2.6rem;
        padding: 4px; 
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--white-color);
    }

    .header__navbar-menu-mobile {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white-color);
        box-shadow: 0 0 0 1px #888;
        width: 230px;
        max-width: 100%;
        transform: translateX(100%); /* Ẩn menu bằng cách đẩy nó ra ngoài màn hình */
        opacity: 0;
        visibility: hidden; /* Đảm bảo menu không thể truy cập được khi ẩn */
        transition: transform 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
    }

    .header__navbar-menu-mobile.header__navbar-menu-mobile--active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .header__navbar-list-mobile {
        padding: 0 20px;
        margin-top: 40px;
    }

    .header__navbar-item {
        color: var(--black-color);
        margin-top: 16px;
    }

    .header__navbar-agency,
    .header__navbar-promotion {
        color: var(--black-color);
    }

    .header__navbar-service.header__navbar-item {
        padding-left: 0;
    }

    .header-close-icon {
        display: block;
        position: absolute;
        top: 24px;
        right: 12px;
        font-size: 2.2rem;
        padding: 10px;
        color: var(--black-color);
        margin-bottom: 30px;
    }

    .header__navbar-item.active .header__navbar-motobike-mobile,
    .header__navbar-item.active .header__navbar-car-mobile,
    .header__navbar-item.active .header__navbar-service-list-mobile {
        display: block;
    }

    .header__navbar-type {
        margin-top: 20px;
    }

    .header__navbar-motobike-item {
        font-size: 1.7rem;
    }

    .header__navbar-item.header__navbar-service-mobile {
        padding-left: 0px;
    }


    /* Container */

    .container__background {
        position: relative;
        flex-direction: column;
        overflow: hidden;
        height: 300px;
    }

    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .main-background a,
    .first-background a,
    .second-background a {
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .main-background span {
        top: 70%;
        left: 6%;
        line-height: 4.2rem;
    }
    
    .slide {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slide.active {
        display: block;
    }

    .container__heading {
        display: none;
    }

    .container__vehicle {
        display: none;
    }

    .first-background .line2 {
        top: 20%;   
    }

    .section-container {
        display: flex;
        flex-direction: column;
    }

    .section-container .grid__column-4 {
        width: 100%;
        margin-bottom: 40px;
    }

    .container__service-heading::before {
        width: 85vw;
    }

    .service-container {
        flex-wrap: wrap;
    }

    .service-container .grid__column-3 {
        width: 50%;
        height: 200px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
    }

    .footer__contact,
    .footer__contact-social {
        margin: 0 60px;
        text-align: center;
    }
}