.container {
    margin-bottom: 200px;
}  

.xe-main__background {
    height: 300px;
    width: 100%;
    max-width: 100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}   

.xe__sorting-select {
    padding: 7px 16px;
    width: 220px;
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 30px 0 6px;
}

.xe__label {
    margin: 44px 0 12px;
}

.xe__label span {
    font-size: 2.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary-color);
    line-height: 3.4rem;
    letter-spacing: 0.2px;
}

.xe__wrap-item {    
    font-size: 1.6rem;
    margin: 10px 0;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 16px;
    width: 16px;
    height: 16px;
}

.xe__wrap-labbel {
    cursor: pointer;
}

button {
    background-color: blue;
    margin-top: 12px;
    padding: 7px 22px;
    color: var(--white-color);
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 30px auto;
}

button:hover {
    background-color: rgb(63, 63, 226);
}

.product {
    
}

.product-img {
    display: block;
    padding-top: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-name {
    margin: 6px 0 24px;
    text-align: center;
    font-size: 2.2rem;
    color: var(--primary-color);
    font-weight: 700;
    cursor: default;
    height: 50px;
    line-height: 3rem;
}

.product-price {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--black-color);
    text-align: center;
    margin: 16px 0;
    cursor: default;
}

.product-label {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 24px 0 16px;
    height: 4.8rem;
    line-height: 2.4rem;
}

.product-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 1.8rem;
}

.product-type span {
    color: var(--text-color);
}

.product-type__link {
    text-decoration: none;
    color: var(--text-color);
}

.product-type__link:hover {
    color: var(--primary-color);
}

.filter {
    display: none;
}

.grid__column-3-mobile {
    display: none;
}

@media screen and (max-width: 47.9375em) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .xe-main__background {
        position: relative;
        top: -100px;
        margin-bottom: 0;
    }

    .grid__column-9 {
        width: 100%;
    }

    .grid__column-3 {
        display: none;
    } 
    
    .grid__column-9-3 {
        width: 50%;
        margin-bottom: 28px;
    }

    .product-label {
        margin: 12px 0 0;
    }

    .header__navbar-motobike-item, 
    .header__navbar-car-item {
        padding: 8px;
    }

    .filter {
        display: block;
        margin-left: 20px;
        text-align: center;
    }

    .mobile-container {
        margin-left: 12px;
    }

    .grid__column-3-mobile {
        z-index: 100;
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: var(--white-color);
        box-shadow: 0 0 0 1px #888;
        width: 250px;
        max-width: 100%;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
    }

    .grid__column-3-mobile.active {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .filter-close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2.4rem;
        z-index: 101;
        padding: 12px;
    }

    .filter-close-icon.active {
        display: block;
    }

    .xe__sorting-select {
        margin-top: 80px;
    }

    .button {
        margin: 12px 0;
    }

    .product-name {
        margin-bottom: 0;
    }

    .product-name,
    .product-type__link,
    .product-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-type {
        white-space: nowrap;
    }
}